<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstkotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <!-- メインのエントリポイントであることを表す -->
                <action android:name="android.intent.action.MAIN" />
                <!-- ホームのアイコンから起動可能であることを示すカテゴリ -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ViewListActivity"
            android:label="ViewListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OpenBrowserActivity"
            android:label="OpenBrowserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NothingActivity"
            android:label="NothingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserManageActivity"
            android:label="UserManageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>